@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Imbue:opsz,wght@10..100,100..900&display=swap');

#productsCatalogue {
    display: flex;
    flex-direction: column;  
    /* border: 1px solid red; */
    /* column-gap: 50px; */
    width: 100vw;
    overflow: scroll;
    box-sizing: border-box;
    /* padding-top: 15px; */
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    /* background: linear-gradient(rgb(215, 215, 215), white); */
    /* background: rgb(215, 215, 215); */
    /* background: rgb(183, 11, 11); */
    background-color: #190061;
    position: sticky;
    top: 0;
    margin: 0;
    box-shadow: 0px 0px 15px #0C0032;
}

#productsCatalogue::-webkit-scrollbar {
    display: none;
}

.productImages {
    display: flex;
    /* justify-content: space-around; */
    column-gap: 50px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#productDetails {
    display: flex;
    /* justify-content: space-around; */
    column-gap: 50px;
    width: 100%;
}

#imgName {
    /* height: 500px; */
    width: 250px;
}

#imgName::before {
    content: '';
    width: 250px;
    height: 150px;
    background-color: black;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    opacity: 0;
    transition: 0.25s;
    /* border: 2px solid #190061; */
}

img {
    width: 250px;
    height: 150px;
    margin: 0;
    padding: 0;
    /* box-shadow: 0px 0px 10px rgb(215, 215, 215); */
    border-radius: 10px;
    transform: scale(1);
    transition: 0.25s;
    background-color: black;
    /* animation: 1s forwards load; */
}

/* img:hover {
    box-shadow: 0px 0px 10px black;
    transform: scale(1.05);
} */

#imgName:hover::before {
    opacity: 0.7;
    transform: scale(1.05);
    /* border: 2px solid #282828; */
}

#imgName:hover img {
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px green; */
}

#prodName {
    /* border: 1px solid red; */
    min-width: 250px;
    text-align: center;
    font-size: 16px;
    transition: 0.25s;
    font-family: "Crimson Text", serif;
    /* font-family: "Imbue", serif; */
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.3px;
    /* opacity: 0; */
    color: rgb(150, 148, 193);
}

#rightArrow, #leftArrow {
    position: fixed;
    top: 22px;
    min-width: 50px;
    display: flex;
    background: rgba(0, 0, 0, 0.34);
    transition: background 0.5s ease;
}

#rightArrow {
    right: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#leftArrow {
    left: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#rightArrow:hover, #leftArrow:hover {
    background: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

#rightArrowSvg, #leftArrowSvg {
    width: 40px;
    height: 100%;
    position: absolute;
    color: white;
}
#rightArrowSvg {
    right: 5px;
    transition: right 0.25s;
}
#leftArrowSvg {
    left: 5px;
    transition: left 0.25s;
}

#rightArrowSvgPath, #leftArrowSvgPath {
    fill: white;
    transition: 0.25s fill;
}

#rightArrow:hover #rightArrowSvg {
    right: 0;
}
#rightArrow:hover #rightArrowSvgPath {
    fill: rgb(150, 148, 193);
}

#leftArrow:hover #leftArrowSvg {
    left: 0;
}
#leftArrow:hover #leftArrowSvgPath {
    fill: rgb(150, 148, 193);
}


@keyframes load {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}